body {
    background-color: white;
}
h1 {
    color: black;
}
p {
    color: black;
}
li {
    color: black;
    display: inline-block;
    width: 15%;
    background: white;
}
img {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    width: 25%;
}
